html, body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  min-height: calc(100vh - 70px);
}
footer {
  height: 50px;
}
.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;

}
#login {
  width: 60%;
  margin: auto;
}
.error {
    color: red;
    background: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .success {
    color: green;
    background: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .App {
    text-align: center;
  }


  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  input{
    margin-left: 5px;
  }
  button {
    margin-top: 5px;
    margin-left: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
  }
header {
  height: 100px !important;
  margin-bottom: 30px;
}
nav {
  height: 100%;
}
  h1 {
    color: green;
    font-style: italic;
  }
  h3{
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    width: 100%;
    border-collapse: collapse;
  }

  ul li {
    margin: 5px;
  }
  li {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
    border: 1px solid black;
  }

#comments li{
  color: #282c34;
    padding-top: 3px;
    font-size: 15px;
    /* border: 1px solid black; */
    list-style-type: square;
  border: none;
}
  
  .blog{
    color: grey;
    padding-top: 5px;
    font-size: 15px;
  }

  table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}

th {
  text-align: left;
}

th, td {
  padding: 15px;
  text-align: left;
}

.list-group-item {
color: black;
border-style: none;
list-style-type: square;
display: list-item !important;
padding: .4rem 1rem !important;
}

.list-group {
  list-style-type: square;
  border-style: none;
}
#btn-button{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

#btn-like {
  border-radius: .25rem;
    border-radius: 50%;
}


